<?xml version="1.0" ?>
<model>
    <name>cr3_arena_walls</name>
    <version>1.0</version>
    <sdf version="1.6">model.sdf</sdf>
    <author>
        <name>Tom Howard</name>
        <email>t.howard@sheffield.ac.uk</email>
    </author>
    <description>Arena walls representative of the DIA-CR3 Robot Arena Aluminium walls.</description>
</model>
