<?xml version="1.0" ?>
<model> 
  <name>COM2009 Task 3 (Maze Navigation) Arena Model</name> 
  <version>1.0</version> 
  <sdf version="1.4">model.sdf</sdf>
  <description>
    Floor map and Internal link model for the COM2009 Maze Nav arena for Lab Assignment 2 Task 3.
  </description>
  <author>
    <name>Tom Howard</name>
    <email>t.howard@sheffield.ac.uk</email>
  </author>
</model>