<model> 
  <name>COM2009 Maze Navigation Arena</name> 
  <version>1.0</version> 
  <sdf version="1.4">model.sdf</sdf>
  <description>
    Maze navigation test arena for COM2009 Lab Assignment 2.
  </description>
  <author>
    <name>Tom Howard</name>
    <email>t.howard@sheffield.ac.uk</email>
  </author>
</model>