<?xml version="1.0" ?>
<model> 
  <name>COM2009 Navigation Arena for Lab Assignment 1</name> 
  <version>1.0</version> 
  <sdf version="1.4">model.sdf</sdf>
  <description>
    Model containing a floor map and wooden walls for the navigation exercises in Week 3 of the COM2009 ROS Wiki.
  </description>
  <author>
    <name>Tom Howard</name>
    <email>t.howard@sheffield.ac.uk</email>
  </author>
</model>