name: gh-pages
on:
  push:
    branches: 
      - main
permissions:
  contents: write
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - uses: actions/setup-python@v4
        with:
          python-version: 3.x
      - run: pip install \
                mkdocs-material \
                mkdocs-awesome-pages-plugin \
                mkdocs-git-revision-date-localized-plugin \
                mkdocs-glightbox \
                "mkdocs-material[imaging]" \
                markdown==3.7
      - run: mkdocs gh-deploy --force